
html,body {
  height:100%;
  overflow: hidden;
}

.portrait {
    border-radius: 50% 50% 50% 50%;  
    width: 520px;
    height: 520px;
    margin-left: 60%;
    margin-top: -23%;
    position: absolute;
    background-image: ;
}

.ball {
    background: red;
    width: 45px;
    height: 45px;
    border-radius: 60px;
    position: absolute;
    left: 750px;
    top: 0;
}

.bouncing {
    -webkit-animation: bounce 4s infinite;
    -moz-animation: bounce 4s infinite;
    -o-animation: bounce 4s infinite;
    animation: bounce 4s infinite;
}

@-webkit-keyframes bounce {
    from {
        top: 0px;
        -webkit-animation-timing-function: cubic-bezier(0.33, 0, 0.66, 0.33);
    }
    50% {
        top: 600px;
        -webkit-animation-timing-function: cubic-bezier(0.33, 0.66, 0.66, 1);
    }
    to {
        top: 0px;
    }
}

@-moz-keyframes bounce {
    from {
        top: 0px;
        -moz-animation-timing-function: cubic-bezier(0.33, 0, 0.66, 0.33);
    }
    50% {
        top: 650px;
        -moz-animation-timing-function: cubic-bezier(0.33, 0.66, 0.66, 1);
    }
    to {
        top: 0px;
    }
}

@-o-keyframes bounce {
    from {
        top: 0px;
        -o-animation-timing-function: cubic-bezier(0.33, 0, 0.66, 0.33);
    }
    50% {
        top: 650px;
        -o-animation-timing-function: cubic-bezier(0.33, 0.66, 0.66, 1);
    }
    to {
        top: 0px;
    }
}

@keyframes bounce {
    from {
        top: 0px;
        animation-timing-function: cubic-bezier(0.33, 0, 0.66, 0.33);
    }
    50% {
        top: 650px;
        animation-timing-function: cubic-bezier(0.33, 0.66, 0.66, 1);
    }
    to {
        top: 0px;
    }
}